* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url();/*TODO */
    font-family: 'Noto Serif TC', serif;
}
/* 導覽列 */
nav {
    display: grid;
    grid-template-columns: 10% 75% auto;
    background: linear-gradient(0deg,#84d824 0%, #92e92f 8%,#C5E86C 87%);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    padding: 15px 25px;/*p15px25px*/
    align-items: center;/*grid專用的格內垂直對齊*/
}
#logo img {
    height: 64px;
}
#navi {padding: 15px;}
#navi a {
    font-weight: 700;
    font-size : 18px ;
    color:#274009;
    text-decoration: none;
    padding: 20px 10px;
    border: 1px solid transparent;
    border-radius: 80px / 20px ;
    transition: .5s;
}
#navi a:hover {
    background-color: rgba(255, 255, 255,0.2);
    border: 1px solid rgba(135, 187, 74, 0.4);
    font-weight: heavy;
}
#navi a:active {
    background-color: rgba(135, 187, 74, 0.4);
}
#social img {margin: 15px;}
/* 公告  */

/* 主打商品( to 商品型錄)  */
#promote > div {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0% 15%;
    align-items: center;
}
#promote .pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
#promote div:nth-child(1) .pic img {
    object-position: left;
}
#promote div:nth-child(even) {
    grid-template-areas: "pic text";
    grid-template-columns: 60% 40%;
}
#promote div:nth-child(even) .text {
    grid-area: text;/*取名就直接key，不用字串形式*/
}
#promote div:nth-child(even) .pic {
    grid-area: pic ;/**取名就直接key，不用字串形式 */
}
#promote .text h1 {
    padding-bottom: 25px;
}
#promote .text p {
    width: 300px;
    margin-bottom: 12% ;
    line-height: 2;
    padding-top: 20px ;
}
.btn {
    border: 1px solid #274009 ;
    padding: 13px 22px;
    font-weight: 500;
    color: #274009;
    text-decoration: none;
    transition: 3s ;/*! 為什麼不是變色的時間*/
}
.btn:hover {
    background-image: linear-gradient(to right top,#84d824 0%, #92e92f 8%,#C5E86C 87%) ;
    color: #274009;
}
/* 門市查詢  */
#BrInfo {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
    text-align: center;
}
#BrInfo .four {
    font-size: 32px;
    font-weight: 700;
    border: 1px solid #000;
}
#BrInfo div:nth-child(1) .four {background-color: rgb(255, 206, 249);}
#BrInfo div:nth-child(2) .four {background-color: rgb(255, 254, 206);}
#BrInfo div:nth-child(3) .four {background-color: rgb(206, 255, 228);}
#BrInfo div:nth-child(4) .four {background-color: rgb(206, 248, 255);}
#BrInfo div .BrList p {
    line-height: 2;
}
/* 商品查詢  */

/* 活動資訊  */

/* 其他服務  */

/* footer  */