* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url();
    font-family: 'Noto Serif TC', serif;
}
/* 導覽列 */
nav {
    display: grid;
    grid-template-columns: 10% 75% auto;
    background: linear-gradient(0deg,#84d824 0%, #92e92f 8%,#C5E86C 87%);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    padding: 15px 25px;/*p15px25px*/
    align-items: center;/*grid專用的格內垂直對齊*/
}
#logo img {
    height: 64px;
}
#navi {padding: 15px;}
#navi a {
    font-weight: 700;
    font-size : 18px ;
    color:#274009;
    text-decoration: none;
    padding: 20px 10px;
    border: 1px solid transparent;
    border-radius: 80px / 20px ;
}
#navi a:hover {
    background-color: rgba(255, 255, 255,0.2);
    border: 1px solid rgba(135, 187, 74, 0.4);
}
#navi a:active {
    background-color: rgba(135, 187, 74, 0.4);
}
#social {
    background-color: #98546a;/*TEST*/
}
#social img {margin: 5px;}
/* 公告  */

/* 主打商品( to 商品型錄)  */

/* 門市查詢  */

/* 商品查詢  */

/* 活動資訊  */

/* 其他服務  */

/* footer  */